.site__footer {
  background-color: $couleur_accent;
  color: white;
  font-size: clamp(0.875rem, -0.0385rem + 2.9231vw, 3.25rem);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  section {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      padding: 0;
    }
  }

  @media screen and (min-width: 1000px) {
    display: flex;
    justify-content: space-around;
  }
}

// Icones Média Sociaux
.fa {
  border-radius: 25px;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
}