
.recherche__input {
    border-radius: 5px;
    font-size: 110%;
}

.recherche__bouton {
    border-radius: 15px;
    cursor: pointer;
}

.recherche__bouton:hover {
    background-color: #0c609c;
}

.recherche__icone {
    font-size: 150%;
}