.site__header > h2:nth-child(3) {
    background-color: rgb(233, 65, 23);
    padding-top: 20px;
    padding-bottom: 20px;
}

.site__header__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    // flex-direction: column;

    @media screen and (min-width: 1000px) {
        flex-direction: row;
    }
}

.custom-logo-link {
    margin: 1rem;
}

// nav
.menu-entete-container {
    background-color: $couleur_accent;
    border-radius: 15px;
    margin: 1rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    // ul
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        list-style-type: none;

        @media screen and (min-width: 1000px) {
            flex-direction: row;
        }
    }

    // li
    .menu-item {
        font-size: clamp(0.875rem, -0.0385rem + 2.9231vw, 1.25rem);

        // a
        a {
            display: block;
            margin: 1rem;
            color: white;
        }
    }
}