a {
    color: rgb(205, 142, 142);

    &:visited {
        color: rgb(118, 118, 226);
    }

    // & - Permet de continuer le code 
    &:hover {
        color: rgb(128, 200, 128);
    }
}

.menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    background-color: bisque;

    a {
        font-size: clamp(0.875rem, -0.0385rem + 2.9231vw, 1.25rem);
    }
}