// Les balises qu'on utilise pour la conversion des fichiers markdown

.markdown {
    display: flex;
    flex-direction: column;
    background-color: #418dc2;

    p {
        color: white;
    }

    figure {
        cursor: pointer;
        margin: 0.5rem;
        opacity: 0.5;
        transition-duration: 0.5s;
    }

    figure:hover {
        opacity: 1;
    }
}

.markdown > ul {
    padding: 2rem;
    margin: 1rem;
    border: 10px solid $couleur_accent;
    border-radius: 15px;
    background-color: #f0f8ff;
    color: black;
}

.markdown > p, pre, blockquote {
    padding: 2rem;
    margin: 1rem;
    color: white;
}

.markdown > h1, h2, h3{
    text-align: center;
    background-color: $couleur_accent;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.markdown > ul > li {
    list-style-type: decimal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

pre {
    background-color: rgb(54, 54, 54);
    overflow-x: scroll;
}